$primary-color: #d8d8d8;
$main-width: 1024px;
$header-hegiht: 80px;
$main-margin: 20px;
$small-bp: 500px;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.main-fixed-header {
    max-width: $main-width;
    width: 100%;
    height: $header-hegiht;
    position: fixed;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    overflow: hidden;
    text-align: center;
    border: 1px solid black;
    color: #093b18;
    background-color: $primary-color;
}

.main-container {
    max-width: $main-width;
    margin: $header-hegiht + $main-margin auto 0;
}

.row {
    width: 100%;
    margin-bottom: $main-margin;
    overflow: hidden;
    @media (max-width: $small-bp) {
        margin-bottom: 0px;
    }
    &-big-item {
        width: calc( ( 100% - #{$main-margin} ) / 2 );
        height: 300px; 
    }
    &-small-item {
        width: calc( ( 100% - ( 2 * #{$main-margin} ) ) / 3 );
        height: 120px;
    }
    &-big-item, &-small-item {
        float: left;
        margin-right: $main-margin;
        border: 1px solid black;
        background-color: $primary-color;
        &:last-child {
            margin-right: 0;
        }
        @media (max-width: $small-bp) {
            width: 100%;
            margin-bottom: $main-margin;
        }
    }  
}

.special-footer {
    width: 100%;
    height: 200px;
    position: relative;
    background-color: $primary-color;
    border: 1px solid black;
    &-figure {
        width: 150px;
        height: 150px;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        border: 1px solid black;
    }
}